/* root/style.css */
#editor {
    width: 100vw;
    height: 100vh;
    background-color: #e5e5e5; /* Gray background helps you see white nodes */
}

svg {
    width: 100%;
    height: 100%;
}

/* If these aren't here, the lines and dots are invisible */
.way {
    stroke: #222 !important;
    stroke-width: 4px !important;
    fill: none !important;
}

.node {
    fill: #ffffff !important;
    stroke: #050098 !important;
    stroke-width: 2px !important;
}